@use '../common/motifs';

.big-image-card {
    --content-width: breakout;
    margin-bottom: 1rem;

    .card-contents {
        display: grid;
        grid:
            "figure body" auto
            / 1fr 1fr;
        align-items: center;
        padding: 1rem;
        gap: 1rem;

        @include motifs.hard-border;

        background-color: var(--color-yellow);

        & > .figure {
            grid-area: figure;

            figure {
                width: 100%;
            }

            img {
                max-height: 50vh;
            }
        }

        & > .body {
            grid-area: body;
        }

        &.right {
            grid:
                "body figure" auto
                / 1fr 1fr;
        }

        @media (max-width: 800px) {
            grid:
                "figure" auto
                "body" auto
                / 1fr
                !important;
        }
    }
}
