@use '../common/motifs';

.big-image-card {
    --content-width: breakout;
    margin-bottom: 1rem;

    .card-contents {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 1rem;
        gap: 1rem;

        @include motifs.hard-border;

        background-color: var(--color-yellow);

        .left, .right {
            // padding: 1rem;
        }

        figure {
            width: 100%;
        }

        img {
            // width: 100%;
            max-height: 50vh;
        }

        @media (max-width: 800px) {
            grid-template-columns: 1fr;

            // img {
            //     max-height: 30vh;
            // }
        }
    }
}
