@use '../common/vars';
@use 'motifs';

body > footer {
    background-color: var(--color-mocha) !important;
    @include motifs.halftone-background;
}

body > footer {
    margin-top: 4rem;
    padding: 1rem 1rem 1rem 1rem;
    color: var(--color-almost-white);

    .center {
        text-align: center;
    }

    .copyright {
        font-size: 0.8em;
    }
}
