@use '../common/vars';

body > footer {
    background-color: var(--color-mocha) !important;
    background-image: url("/static/resources/textures/halftone-dark-alpha.png");
    // background-blend-mode: multiply;
}

body > footer {
    // background-image: url("/static/resources/footer-bg.svg");
    margin-top: 4rem;
    padding: 4rem 1rem 1rem 1rem;
    min-height: 200px;
    color: var(--color-almost-white);

    .center {
        text-align: center;
    }

    .copyright {
        font-size: 0.8em;
    }
}
