// body > header {
//     mix-blend-mode: hard-light;
//     background-color: var(--color-purple);
//     background-image: linear-gradient(170deg, var(--color-deep-purple) 0%, var(--color-purple) 70%);
//     color: white;
//     box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.3);

//     & > nav {
//         display: flex;
//         flex-wrap: wrap;
//         align-items: center;
//         justify-content: space-between;
//         padding: 2rem 1rem;
//     }

//     .links .button {
//         margin-left: 1.5rem;
//     }
// }


body > header {
    // --border-width: 1px;

    position: sticky;
    top: 0;
    background-color: var(--color-almost-white);
    border-bottom: var(--border-width) solid var(--color-vintage-black);
    // margin-top: 6px;
    z-index: 10;
    // box-shadow: 0 -2px 0 var(--color-deep-purple), 0 -6px 0 var(--color-purple);

    a#logo, a#logo:visited {
        display: block;
        color: var(--color-vintage-black);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 0.5rem;

        img {
            height: 48px;
            padding-right: 0.5rem;
            vertical-align: middle;
        }
    }

    & > nav {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        flex-direction: row;

        & > :first-child {
            flex-grow: 1;
        }

        .menu-container {
            display: flex;
            align-items: stretch;
        }

        .menu-container:focus menu, menu.open {
            visibility: visible;
            opacity: 1;
        }

        .menu-toggle {
            display: block;
            padding: 0.5rem;
            cursor: pointer;
        }

        menu {
            display: flex;
            visibility: hidden;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            flex-direction: column;
            border-bottom: var(--border-width) solid var(--color-vintage-black);
            background-color: var(--color-almost-white);
            transition: visibility 150ms linear, opacity 150ms ease-in-out;

            a {
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                padding: 1rem;
                border-color: var(--color-vintage-black);
                border-style: solid;
                border-width: var(--border-width) 0 0 0;
                transition: background-color 0.2s ease-in-out;

                &, &:visited {
                    color: var(--color-vintage-black);
                }

                &:hover {
                    // background-color: hsla(45, 10%, 5%, 0.2);
                    background-color: hsla(24, 100%, 40%, 0.2);
                }

                span {
                    margin: 0 1rem;
                    font-size: 1rem;
                    text-wrap: nowrap;
                }
            }
        }

        @media (min-width: 900px) {
            .menu-toggle {
                display: none;
            }

            menu {
                visibility: visible;
                opacity: 1;
                position: static;
                flex-direction: row;
                border-width: 0;
                transition: none;

                a {
                    display: flex;
                    align-items: center;
                    border-width: 0 0 0 var(--border-width);
                }
            }
        }
    }
}
