@use '../common/vars';


// Background color for the popup menu in the mobile UI, which differs from the
// normal color for contrast.
$mobile-menu-background-color: var(--color-yellow);


@mixin hamburger-icon {
    display: block;

    line {
        stroke-width: var(--border-width);
        stroke: var(--color-vintage-black);
        transition: transform 0.2s ease-in-out;
    }

    line:first-child {
        transform-origin: 50% 25%;
    }
    line:nth-child(2) {
        transform-origin: 50% 50%
    }
    line:last-child {
        transform-origin: 50% 75%
    }
}

@mixin hamburger-icon-open {
    line:first-child {
        transform: translateY(25%) rotate(45deg);
    }
    line:nth-child(2) {
        transform: rotate(225deg);
    }
    line:last-child {
        transform: translateY(-25%) rotate(-45deg);
    }
}


#site-header {
    --nav-height: 80px;

    z-index: 99;
    margin-bottom: var(--nav-height);

    & > nav {
        display: flex;
        align-items: stretch;
        // justify-content: flex-end;
        justify-content: space-between;
        flex-direction: row;

        border-bottom: var(--border-width) solid var(--color-vintage-black);
        background-color: var(--color-almost-white);

        & > :first-child {
            flex-shrink: 1;
        }

        position: fixed;
        top: 0;
        width: 100vw;
        height: var(--nav-height);

        menu {
            margin: 0;
            padding: 0;
        }
    }
}

#site-header menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;

    border-color: var(--color-vintage-black);
    border-style: solid;

    transition: background-color 0.2s ease-in-out;

    &:hover {
        // background-color: hsla(45, 10%, 5%, 0.2);
        background-color: hsla(24, 100%, 40%, 0.2);
    }
}

#mobile-menu {
    display: none;
    flex-direction: row;
    flex-shrink: 0;
    transition: background-color 0.2s ease-in-out;

    a {
        min-width: var(--nav-height);
        border-width: 0 0 0 var(--border-width);
    }

    svg {
        @include hamburger-icon;
        width: 36px;
        height: 36px;
    }

    #main-menu.open + & {
        background-color: $mobile-menu-background-color;

        a svg {
            @include hamburger-icon-open;
        }
    }
}

#main-menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    a {
        padding: 1rem;
        border-width: 0 0 0 var(--border-width);

        &, &:visited {
            color: var(--color-vintage-black);
        }

        span {
            margin: 0 1rem;
            font-size: 1rem;
            text-wrap: nowrap;
        }
    }
}

// Mobile layout
@media (max-width: 1200px) {
    #mobile-menu {
        display: flex;
    }

    #main-menu {
        flex-direction: column;

        display: none;
        position: absolute;
        left: 0;
        top: var(--nav-height);
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-y: scroll;

        transform-origin: top center;

        background-color: $mobile-menu-background-color;

        &.open {
            display: flex;
            animation: menu-opening 350ms ease-in-out forwards;
        }

        &.closing {
            display: flex;
            animation: menu-closing 200ms ease-out forwards;
        }

        a {
            border-width: 0 0 var(--border-width) 0;

            &:hover {
                // background-color: rgba(255, 255, 255, 0.2) !important;
            }
        }
    }
}

a#logo, a#logo:visited {
    display: flex;
    align-items: center;
    color: var(--color-vintage-black);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;

    img {
        height: 48px;
        padding-right: 0.5rem;
        vertical-align: middle;
    }
}

@keyframes menu-opening {
    0% {
        transform: scaleY(0);
    }
    50% {
        transform: scaleY(1.05);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes menu-closing {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}
