.home-section {
    display: flex;
    background-size: cover;
    background-position: center;

    p {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 2rem;
        margin: 4rem 0;
        border-radius: 6px;
        width: 50%;
        display: inline-block;
    }
}

.home-teams {
    @extend .home-section;
    background-image: url("/static/resources/photos/about-teams.webp");
}

.home-qm {
    @extend .home-section;
    background-image: url("/static/resources/photos/about-qm.webp");
    justify-content: flex-end;

    p {
        margin-left: 50%;
    }
}

.home-questions {
    @extend .home-section;
    background-image: url("/static/resources/photos/about-questions.webp");
}

.home-jumping {
    @extend .home-section;
    background-image: url("/static/resources/photos/about-jumping.webp");
    justify-content: flex-end;

    p {
        margin-left: 50%;
    }
}
