.resources-section {
    display: flex;
    background-size: cover;
    background-position: center;
    p{
        background-color: rgba(255,255,255,0.9);
        padding: 2rem;
        margin: 4rem 0;
        border-radius: 6px;
        width: 50%;
        display: inline-block;
    }
}

.resources-teams {
    @extend .resources-section;
    background-image: url("/static/resources/photos/about-teams.webp");
}

.resources-qm {
    @extend .resources-section;
    background-image: url("/static/resources/photos/about-qm.webp");
    justify-content: flex-end;

    p {
        margin-left: 50%;
    }
}

.resources-questions {
    @extend .resources-section;
    background-image: url("/static/resources/photos/about-questions.webp");
}

.resources-jumping {
    @extend .resources-section;
    background-image: url("/static/resources/photos/about-jumping.webp");
    justify-content: flex-end;

    p {
        margin-left: 50%;
    }
}

.resources-map {
    height: 400px;
    background-image: url("/static/resources/photos/map.webp");
    background-size: contain;
    background-repeat: no-repeat;
}

.resources-scholarships {
    height: 400px;
    background-image: url("/static/resources/photos/scholarships.webp");
    background-size: contain;
    background-repeat: no-repeat;
}
