@use 'common/base';
@use 'common/forms';
@use 'admin/header';
@use 'admin/sidebar';

body {
    display: grid;
    grid:
        "header header" auto
        "sidebar main" 1fr
        "sidebar footer" auto
        / auto 1fr;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
    padding: 0 1rem;
}

main {
    margin: 0;
    padding: 0 1rem;
    overflow-x: visible;
    overflow-y: auto;
}
