@use 'common/fonts';
@use 'common/base';
@use 'common/forms';
@use 'common/figure';
@use 'public/layout';
@use 'public/header';
@use 'public/footer';
@use 'public/cards';
@use 'public/hero';
@use 'public/about';
@use 'public/rules';
@use 'public/home';
@use 'public/resources';
@use 'public/motifs';

// Set a background on the root element to influence the color of "overscroll"
// areas in browsers that do that to match the footer.
:root {
    background-color: var(--color-mocha);
}

// Set the background for the overall page.
body {
    background-color: var(--color-vintage-white);
    @include motifs.halftone-background;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body > * {
    width: 100%;
}

/* body > header > nav ,*/ .container {
    margin: 0 auto;
    max-width: var(--max-width);
}

body > main {
    font-size: 1.25em;
}

h1, h2 {
    font-family: var(--font-strong);
    font-weight: 900;
    letter-spacing: 0.02em;
}

h1 {
    text-transform: uppercase;
    color: var(--color-purple);
    font-size: 2.5em;
}

h2, h3 {
    color: var(--color-deep-purple);
}

@media (max-width: 550px) {
    h1 {
        font-size: 2em;
    }
}

p > img {
    max-width: 100%;
}
