@use 'sass:string';

@mixin load-font($name, $path, $styles: normal, $weights: 400) {
    @each $style in $styles {
        @each $weight in $weights {
            @font-face {
                font-family: $name;
                font-style: $style;
                font-weight: $weight;
                font-display: swap;
                src: url('#{$path}/#{$weight}-#{$style}.woff2') format('woff2'),
                    url('#{$path}/#{$weight}-#{$style}.woff') format('woff');
            }
        }
    }
}

@include load-font('Barlow', '/static/resources/fonts/barlow', (normal, italic), (400, 700));
@include load-font('Barlow Condensed', '/static/resources/fonts/barlow-condensed', (normal, italic), (900));
@include load-font('Oi', '/static/resources/fonts/oi', (normal), (400));

:root {
    --font-body: 'Barlow', 'Open Sans', sans-serif;
    --font-strong: 'Barlow Condensed', sans-serif;
}
