// This file defines common variables used in many parts of the theme.

:root {
    --max-width: 96ch;

    --color-blue: #03a9fa;
    --color-cream: hsl(53, 88%, 93%);

    // taken from logo
    --color-purple: hsl(247, 43%, 44%);
    --color-deep-purple: hsl(263, 50%, 20%);
    --color-yellow: hsl(53, 88%, 57%);
    --color-red: hsl(360, 84%, 55%);
    // this color is awful...
    --color-green: hsl(147, 92%, 15%);
    --color-brown: hsl(25, 18%, 57%);
    --color-orange: hsl(24, 100%, 40%);
    --color-baby-blue: hsl(208, 100%, 65%);

    --color-vintage-white: hsl(35, 25%, 90%);
    --color-vintage-black: hsl(45, 1%, 20%);

    // new redesign colors
    --color-almost-white: hsl(35, 5%, 98%);
    --color-mocha: hsl(25, 24%, 6%);

    --border-width: 2px;
}
