header {
    display: flex;
    padding: 1rem;
    background-color: var(--color-purple);

    .flex-end {
        margin-left: auto;
        display: flex;
    }

    a {
        display: block;
        color: white;
        margin: 0 0.5rem;
    }
}

#account-menu {
    display: block;
    position: relative;

    .menu-button {
        display: flex;
        position: relative;
        align-items: center;
        height: 50px;
        z-index: 2;
        border-radius: 2rem;
        background-color: lightgray;
        cursor: pointer;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

        img {
            display: inline-block;
            border-radius: 32px;
            background-color: white;
            height: 100%;
        }

        span {
            display: inline-block;
            padding: 1rem;
        }
    }

    menu {
        display: none;
        list-style-type: none;
        position: absolute;
        margin: 0;
        padding: 4rem 0 2rem 0;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 2rem;
        background-color: white;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

        & > * {
            margin: 0;
            padding: 0.5rem 1rem;

            &:hover {
                background-color: var(--color-purple);
                color: white;
            }
        }
    }

    &.active {
        menu {
            display: block;
        }
    }

    a {
        color: black;
        text-decoration: none;
    }
}
