@font-face {
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/static/resources/fonts/Calistoga.ttf') format('truetype');
}

@font-face {
    font-family: 'Caprasimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/static/resources/fonts/Caprasimo.ttf') format('truetype');
}

@font-face {
    font-family: 'Modak';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/static/resources/fonts/Modak.ttf') format('truetype');
}

@font-face {
    font-family: 'Oi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/static/resources/fonts/Oi.ttf') format('truetype');
}
