@use "sass:list";

.hero {
    background-image: linear-gradient(black, black), url("/static/resources/banner-index.jpg");
    background-blend-mode: saturation;
    background-size: cover;
    mix-blend-mode: hard-light;
    padding-top: 4rem;
    padding-bottom: 4rem;

    h1 {
        font-size: 6rem;
        mix-blend-mode: normal;

        $shadows: ();

        @for $i from 1 through 6 {
            $shadows: list.append($shadows, -#{$i}px #{$i}px 0 var(--color-brown), $separator: comma);
        }

        @for $i from 9 through 12 {
            $shadows: list.append($shadows, -#{$i}px #{$i}px 0 var(--color-red), $separator: comma);
        }

        @for $i from 13 through 18 {
            $shadows: list.append($shadows, -#{$i}px #{$i}px 0 var(--color-baby-blue), $separator: comma);
        }

        text-shadow: $shadows;
    }
}
