@use "sass:list";

.hero {
    --max-width: 1200px;

    background-image: url("/static/resources/Film-Grain-Textures-FREE-Pack-8K/AU-FG-Texture1-8K.jpg"), url("/static/resources/banner-index.jpg");
    background-blend-mode: difference;
    background-size: cover;
    mix-blend-mode: hard-light;
    padding-top: 8rem;
    padding-bottom: 8rem;

    h1 {
        font-size: 6rem;
        mix-blend-mode: normal;

        $shadows: ();

        @for $i from 1 through 6 {
            $shadows: list.append($shadows, -#{$i}px #{$i}px 0 var(--color-brown), $separator: comma);
        }

        @for $i from 9 through 12 {
            $shadows: list.append($shadows, -#{$i}px #{$i}px 0 var(--color-red), $separator: comma);
        }

        @for $i from 13 through 18 {
            $shadows: list.append($shadows, -#{$i}px #{$i}px 0 var(--color-baby-blue), $separator: comma);
        }

        text-shadow: $shadows;
    }
}
