@use 'base';
@use 'layout';
@use 'fonts';
@use 'forms';
@use 'header';
@use 'footer';
@use 'hero';

html {
    // background-color: #efefef;
    background-color: var(--color-brown);
    background-image: url("/static/resources/textures/noise.png");
    background-blend-mode: multiply;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body > * {
    width: 100%;
}

/* body > header > nav ,*/ .container {
    margin: 0 auto;
    max-width: var(--max-width);
}

body > main {
    font-size: 1.125em;
}

h2, h3 {
    color: var(--color-deep-purple);
}

h1 {
    font-family: 'Oi', sans-serif;
    text-transform: uppercase;
    color: var(--color-purple);
    font-size: 3em;
    font-weight: normal;
    mix-blend-mode: hard-light;
    /* color: transparent; */
    /* -webkit-text-stroke: 3px var(--color-deep-purple); */
    /* text-shadow:
        -1px 1px 0 var(--color-deep-purple),
        1px 1px 0 var(--color-deep-purple),
        1px -1px 0 var(--color-deep-purple),
        -1px -1px 0 var(--color-deep-purple); */
}
