name: CI

on:
  pull_request:
  push:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust toolchain
        run: rustup update stable && rustup default stable

      - name: Cache Cargo dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            cargo-${{ runner.os }}-

      - name: Compile
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

  image:
    name: Build Docker image
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.meta.outputs.version }}
    steps:
      - uses: actions/checkout@v4

      - name: Generate Docker image metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/website
          tags: |
            type=sha,format=short,prefix=,suffix=-{{date 'X'}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.ref_type == 'branch' && github.ref_name == 'master' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy-testing:
    name: Deploy to testing
    if: github.ref_name == 'master'
    needs: [test, image]
    concurrency:
      group: testing
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Update tag in Komodo
        uses: ./.github/actions/run-komodo-action
        with:
          action: Update Website Testing Tag
          args: |
            {
              "tag": "${{ needs.image.outputs.tag }}"
            }

  deploy-production:
    name: Deploy to production
    if: github.ref_name == 'master'
    needs: [test, image]
    environment:
      name: production
      url: 'https://fmbq.org'
    concurrency:
      group: production
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - name: Update tag in Komodo
        id: deploy
        run: |
          curl --header "X-Api-Key: ${{ secrets.KOMODO_API_KEY }}" \
            --header "X-Api-Secret: ${{ secrets.KOMODO_API_SECRET }}" \
            --json '{"type": "UpdateStack", "params": {"id": "website", "config": {"environment": "TAG=${{ needs.image.outputs.tag }}"}}}' \
            ${{ vars.KOMODO_URL }}/write
          curl --header "X-Api-Key: ${{ secrets.KOMODO_API_KEY }}" \
            --header "X-Api-Secret: ${{ secrets.KOMODO_API_SECRET }}" \
            --json '{"type": "DeployStack", "params": {"stack": "website"}}' \
            ${{ vars.KOMODO_URL }}/execute
